<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">vgStories</h1>
            <ul class="col-md-4" ng-repeat="story in $ctrl.awesomeStories">
                <!--<li><a href="#" uib-tooltip="{{story.info}}">{{story.name}}-->
                <!--<button type="button" class="close" ng-click="$ctrl.deleteStory(story)">&times;</button>-->
                <!--</a></li>-->
                <p>{{story.title}}</p>
                <p>{{story.content}}</p>
                <p>{{story.creator}}</p>
                <p>{{story.game}}</p>
            </ul>
        </div>
    </div>
</div>