<header class="hero-unit" id="banner">
    <div class="container">
        <h1>VG Nostalgia Beta</h1>
        <p class="lead">Check out vgStories, vgMusic, etc ... </p>
        <p class="lead">All gamer's memories stored here</p>
        <p class="lead">Read about other people's experiences</p>
        <p class="lead">Personal game chronicle, profile, journal mashup</p>
        <p class="lead">Integrate with game accounts, Steam, facebook</p>
        <p class="lead">Best place to share game-achievements</p>
        <p class="lead">Best place to share game screenshots</p>
        <p class="lead">Good place for tears, rants, rambles</p>


        <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Features:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
                <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}
                    <button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button>
                </a></li>
            </ul>
        </div>
    </div>

    <form class="thing-form">
        <label>Suggest a feature</label>
        <p class="input-group">
            <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
        </p>
    </form>
</div>
